<main>
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h3>Editar Tarefas:</h3>

      <div class="card">
        <div class="card-body">

          <!-- Formulário de edição -->
          <form action="/rota_tarefas/tarefas/editar_tarefas" method="POST">
            {{#if tarefa}}
              
              <!-- Campo ID (somente leitura) -->
              <label for="_id">ID:</label>
              <input 
                type="text" 
                id="_id" 
                name="_id" 
                readonly="true" 
                class="form-control" 
                value="{{tarefa._id}}"
              >
              <br>

              <!-- Campo Nome -->
              <label for="nome">Nome:</label>
              <input 
                type="text" 
                id="nome" 
                name="nome" 
                class="form-control" 
                value="{{tarefa.nome}}"
              >
              <br>

              <!-- Campo Descrição -->
              <label for="descricao">Descrição:</label>
              <input 
                type="text" 
                id="descricao" 
                name="descricao" 
                class="form-control" 
                value="{{tarefa.descricao}}"
              >
              <br>

              <!-- Botão de envio -->
              <button type="submit" class="btn btn-success">
                Editar Tarefa
              </button>

            {{/if}}
          </form>

        </div>
      </div>
    </div>
  </div>
</main>
