<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Link para o CSS do Bootstrap (CDN) -->
  <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css">

  <title>Tarefas</title>
</head>
<body>

  <!-- Container principal do conteúdo -->
  <div class="container mt-4">
    {{{body}}}
  </div>

  <!-- Script do Bootstrap (JS + Popper) -->
  <script src="/public/bootstrap/js/bootstrap.min.js">
  </script>

</body>
</html>
